@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    padding: 30px 20px;
    background-color: #334E58;
}

header {
    background-color: #FFFFFF;
    min-height: 625px;
    padding: 3pt;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

#titoli_header_eIDNO{
    text-align:center;
}

.select_idno {
    text-align: center;
    font-weight: bold;
    padding: 0.5%;
    background-color: white;
    border-color: transparent;
    border-bottom: 5px solid #33261D;
    border-radius: 5px;
}

footer {
    background-color: #FFFFFF;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

footer div {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

input {
    cursor: pointer;
    margin-right: 2px;
}

.iconaSelezionata {
    opacity: 0.7;
    outline: none;
}

#div_immagine_testo, #div_bibliografia {
    background-color: #FFFFFF;
    padding-left: 5%;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

#box_img {
    display: inline-block;
    padding-bottom: 20px;
}

#box_testo_fr, #box_testo_it, #box_testo_en {
    display: inline-block;
    float: right;
    margin-right: 80px;
    font-size: 90%;
}
#box_testo_it, #box_testo_en {
    width: 500px;
    margin-right: 150px;
}

.box_testo_fronte {
    padding-top: 95px;
}
.box_testo_retro{
    padding-top: 135px;
}

#box_icone_traduzioni {
    margin-top: 10px;
    margin-bottom: 10px;

}

#box_legenda {
    border: 2px solid black;
    background-color: rgba(211, 211, 211, 0.336);
    padding: 0px 20px 20px 20px;
    width: 30%;
    margin-top: 20px;
    margin-right: 40px;
    display: inline-block;
}

.gap {
    font-weight: bold;
}

ins {
    text-decoration: none;
    color: rgb(116, 114, 111);
} 

abbr, .expan {
    font-style: italic;
}

.persName {
    color: fuchsia;
}

.placeName {
    color: green;
}

.orgName {
    color: orange;
}

.lineNumber {
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.bkDesc {
    font-size: 90%;
    color:rgb(78, 76, 76);
    padding-left: 21px;
}

#introduzione{
    border: 2px solid black;
    background-color:  rgba(211, 211, 211, 0.336);
    padding: 1px;
    text-align: left;
    padding: 0px 20px 0px 20px;
    padding-bottom: 20px;
    display: inline-block;
    float: left;
    max-width: 60%;
    margin: 20px;
}


/****** USATE IN JAVASCRIPT ******/
.immagini_scan {
    display: block;
    width: 600px;
    height: 900px;
}
.nascondi {
    display: none;
}
.mostra {
    display: inline;
}

/*.clicked {
    opacity: 0.3;
}*/

.dot {
    color: red;
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
    text-decoration: none;
    animation: blink-animation 0.8s steps(5, start) 4;
    -webkit-animation: blink-animation s steps(5, start) 4;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
