@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    padding: 30px 20px;
    background-color: #334E58;
}

header {
    background-color: #FFFFFF;
    min-height: 625px;
    padding: 3pt;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

#titoli_header_eIDNO{
    text-align:center;
}

.select_idno {
    text-align: center;
    font-weight: bold;
    padding: 0.5%;
    background-color: white;
    border-color: transparent;
    border-bottom: 5px solid #33261D;
    border-radius: 5px;
}

footer {
    background-color: #FFFFFF;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding: 10pt 0 10pt 0;
}

#publisher, #licence, #date{
    display: inline;
    font-weight: bold;
}
#publisher, #licence{
    margin-right: 5%;
}

#div_respStmt {
    background-color: #FFFFFF;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
    padding-left: 5%;
}

input {
    cursor: pointer;
    margin-right: 2px;
}

.iconaSelezionata {
    opacity: 0.7;
    outline: none;
}

#div_immagine_testo, #div_bibliografia {
    background-color: #FFFFFF;
    padding-left: 5%;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

#box_img {
    display: inline-block;
    padding-bottom: 20px;
}

#box_testo_fr, #box_testo_it, #box_testo_en {
    display: inline-block;
    float: right;
    font-size: 90%;
    width: 50%;
    padding-top: 95px;
}

#box_icone_traduzioni {
    margin-top: 10px;
    margin-bottom: 10px;

}

#box_legenda {
    border: 2px solid black;
    background-color: rgba(211, 211, 211, 0.336);
    padding: 0px 20px 20px 40px;
    width: 600px;
    margin-top: 20px;
    display: inline-block;
    text-indent: -21px;
}

.gap {
    font-weight: bold;
}

ins {
    text-decoration: none;
    color: rgb(116, 114, 111);
} 

abbr, .expan {
    font-style: italic;
}

.persName {
    color: fuchsia;
}

.placeName {
    color: green;
}

.orgName {
    color: orange;
}

.lineNumber {
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.bkDesc {
    font-size: 90%;
    color:rgb(78, 76, 76);
    padding-left: 21px;
}

#introduzione{
    border: 2px solid black;
    background-color:  rgba(211, 211, 211, 0.336);
    padding: 1px;
    text-align: left;
    padding: 0px 20px 0px 20px;
    display: inline-block;
    float: left;
    max-width: 60%;
    margin: 20px;
}

/****** USATE IN JAVASCRIPT ******/
.immagini_scan {
    display: block;
    width: 600px;
    height: 900px;
}
.nascondi {
    display: none;
}
.mostra {
    display: inline;
}

/*.clicked {
    opacity: 0.3;
}*/

.dot {
    color: red;
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
    text-decoration: none;
    animation: blink-animation 0.8s steps(5, start) 4;
    -webkit-animation: blink-animation s steps(5, start) 4;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/*FINESTRE HOVER*/
.hovertext {
    position: relative;
    background-color: #88c8e04f;
    border-radius: 3px;
    cursor: copy;
}
.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px ;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

/*MAPPA EVIDENZIATA*/
.map-container {
    background-size: cover;
    position: relative;
}
.map-container canvas { 
    position: absolute; 
}
.map-container img {
    opacity: 0;
    position: absolute;
}

