@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    padding: 30px 20px;
    background-color: #334E58;
}

header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 3pt;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

.select_idno {
    text-align: center;
    font-weight: bold;
    padding: 0.5%;
    background-color: white;
    border-color: transparent;
    border-bottom: 5px solid #33261D;
    border-radius: 5px;
}

footer {
    background-color: #FFFFFF;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

footer div {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.iconaSelezionata{
    opacity: 0.7;
    outline: none;
}

#div_immagine_testo {
    background-color: #FFFFFF;
    padding-left: 5%;
    margin: auto;
    border: solid black;
    border-radius: 10px 10px 10px 10px;
}

#box_img{
    display: inline-block;
}

#box_testo_fr{
    display: inline-block;
    float: right;
    margin-right: 100px;
    font-size: 90%;
}

.lineNumber{
    padding: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;
}

.gap {
    font-weight: bold;
}

abbr, .expan {
    cursor: pointer;
}
abbr {
    font-style: italic;
}
.expan {
    display: none;
}

/****** USATE IN JAVASCRIPT ******/
.immagini_scan {
    display: block;
    max-width: 550px;
    padding: 22px;
}
.nascondi {
    display: none;
}